.order-page {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  margin-top: 4%;
}
.order-page__title {
  font-family: sans-serif;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: black;
  margin-bottom: 30px;

}
.spn {
  margin-left: 2em;
  font-size: 1.5rem;
}
.allqty {
  font-weight: bold;
}
.container_order {
  display: flex;
  flex-direction: row;
}
.left-side {
  width: 70%;
  max-height: fit-content;
  border-radius: 5px;
  border: 1px;

  padding: 2rem;
}
.product-details {
  padding: 10px;
}
.items {
  display: flex;
  /* flex-wrap: wrap; */
  margin-bottom: 1.5rem;
  background-color: #eeeeee8a;
  padding: 2rem;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 4px -1px black;
  box-shadow: 2px 2px 4px -1px black;
}

.right-side {
  width: 25%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: right;

  border: 1px solid black;
  padding: 2em;
  margin-right: 1rem;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 4px -1px black;
  box-shadow: 2px 2px 4px -1px black;
}

.line-right {
  border: 1px solid black;
  margin-bottom: 1em;
}

.order-info_title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: black;
}

.form-group {
  display: flex;
  flex-direction: column;
}
.phn,
.adrs {
  display: contents;
  margin-top: 0.5em;
}

.form-control {
  border-radius: 10px;
  outline: 2px solid #00000057;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #fff;

  outline-offset: 3px;
  padding: 10px 1rem;
  transition: 0.25s;
  margin: 1rem;
}

.form-control:focus {
  outline-offset: 5px;
  background: #eee;
  outline: 2px solid black;
}
.payment {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.order-page__product-name {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: black;
  flex-basis: 60%;
}

.order-page__product-quantity {
  font-family: sans-serif;
  font-size: 16px;
  color: black;
  flex-basis: 20%;
}

.order-page__product-price {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: black;
  flex-basis: 20%;
}

.radio {
  color: #000000b0;
}
.form-control::placeholder {
  color: black;
  font-size: 15px;
  font-weight: 300px;
}

.btn_dev {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.order-page__bill p {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}

.confirm-button {
  background:#eee;;
  padding: 10px 2rem;
  outline: 2.5px solid black;
  outline-offset: 3px;
  border: 0;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  border-radius: 10px;
  transition: 0.4s;
  font-weight: 700;
}
.cancel-button {
  background: #eee;
  padding: 10px 2rem;
  outline: 2.5px solid red;
  outline-offset: 3px;
  border: 0;
  color: red;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  border-radius: 10px;
  transition: 0.4s;
  font-weight: 600;
}

.confirm-button:hover {
  outline-offset: 4.5px;
  background: rgb(210, 233, 238);
  font-size: 1.1rem;
  color: black;
}

.cancel-button:hover {
  outline-offset: 4.5px;
  background: red;
  font-size: 1.1rem;
  color: aliceblue;
}
/* mobile */
@media only screen and (max-width: 768px) {
  .order-page {
    margin-top: 20%;
  }
  .order-page__title {
    font-size: 3rem;
  }
  .spn {
    font-size: 1rem;
  }
  .container_order {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .left-side {
    width: 100%;
  }
  .items {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .order-page__product-name,
  .order-page__product-price,
  .order-page__product-quantity {
    font-size: large;
  }
  .right-side {
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    margin-right: 0px;
  }
  .btn_dev {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin-right: 5vw
  }
  .confirm-button,
  .cancel-button {
    margin-bottom: 2rem;
    width: 100%;
  }
  
  .order-info_title{
    text-align: center;
  }
}
/* tablet */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  
  .order-page {
    margin-top: 20vh
  }
  .order-page__title {
    font-size: 3rem;
  }
  .spn {
    font-size: 2rem;
  }
  .container_order {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .left-side {
    width: 100%;
  }
  .items {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .order-page__product-name,
  .order-page__product-price,
  .order-page__product-quantity {
    font-size: large;
  }
  .right-side {
    width: 80%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    margin-right: 0px;
  }
  .btn_dev {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }
  .confirm-button,
  .cancel-button {
    margin-bottom: 2rem;
    width: 100%;
  }
}
/* desketop */
@media only screen and (min-width: 1025px) and (max-width: 1500px) {
  .order-page {
    margin-top: 6%;
  }
  .order-page__title {
    font-size: 3rem;
  }
  .spn {
    font-size: 2rem;
  }
  .left-side {
    width: 65%;
  }
  .items {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .order-page__product-name,
  .order-page__product-price,
  .order-page__product-quantity {
    font-size: large;
  }
  .right-side {
    width: 35%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    margin-right: 0px;
  }
  .btn_dev {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }
  .confirm-button,
  .cancel-button {
    margin-bottom: 2rem;
    width: 100%;
  }
}
