.header-container {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color:#001529;
  }
  
  .logo-container img {
    width: 50px;
    
  }
  
  .title-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  
  .title {
    font-weight: bold;
    font-size: 36px;
    color: white;
  }

  .logo-container{
    width: 215px;
    display: flex;
    justify-content: center;
  }
  
.logout_button_p {
  font-size: 20px;
}

  .logout{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .logout_button {
    border: solid 2px;
    width:10rem;
    background-color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 2px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-right: 20px;
    border-radius: 10%
  }

  
  .logout_button:hover {
    background-color: #bf8e25;
    color: white;
    transition: 0.5s;
}
    

