.containerform {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
  
  .userform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .userlabel {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
  }
  
  .userinput {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
    font-size: 16px;
  }
  
  