/* .sidebar{
    width: 12rem;
    height: 40rem;
}

.li_sidebar {
    padding: 20px;
    list-style: none;
    border: 2px solid black;
    width: 12rem;
    display: flex;
    align-items:center;
    justify-content: center;
    
    
}

.ul_sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.li_sidebar li :hover {
    background-color: aqua
} */

.sidebar{
    display: flex;
    flex-direction: row;
    width: 16rem;
    margin-left: 10px;
}

button p{
    font-size: 20px;
}

.link_button{
    color: black;
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 20px;
    margin: 2px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-left: 10px;
    display: flex;
    justify-content: start;
    width: 10rem;
    padding: 15px;
    
}

.link_button:hover {
    
    background-color: black;
    border: 10px white;
    transition: 0.5s;
}


.link_button:hover p {
    color: white;
}

button p:hover{
    color: white;
}

.link_button{
    text-decoration: none;
}

.image_products{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.image_products img{
    width: 30px;
}
.products{
    display: flex;
    flex-direction: column;
}



.kkkk{
   display: flex;
    
}